.navbar-fixed {
    height: 0;
}

.switch label {
    color: white;
}

.switch label input[type=checkbox]:checked+.lever{
    background-color: #B6B6B6;
}

.switch label input[type=checkbox]:checked+.lever:after{
    background-color: #FF9800;
}

html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0
}

.input-wrapper {
    position: fixed;
    bottom: 30px;
    width: 100%;
}

.input-field label {
    color: black;
}

.input-field input {
    max-width: 58%;

    border: none !important;
    border-radius: 5px;
    background-color: white;
    padding-left: 10px;

    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

#topic_and_content {
    position: fixed;
    top:70px;
    right:10px;
    width:30%;
    height:70%;
    background:rgba(255,255,255,0.8);
    //padding:5px;
    border-radius:5px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding-bottom:10px;
}

#content-wrapper {
    margin-top:5px;
    padding: 2%;
    padding-bottom: 10px;
    font-size:90%;
    overflow-x: hidden;
    overflow-y: scroll;
    height:100%;
}


#topic-wrapper {
    float:left;
    //padding:5px;
    overflow: hidden;
    //background:rgba(155,155,255,0.8);
    //background:rgba(33,150,243,1.0);
    color:white;
    width:20%;
    border-radius:5px 0px 0px 0px;    
    height:100%;
    //margin-right:1%;
}

#topic_and_content_resize {
  position:absolute;
  bottom:0px;
  left:0px;
  width:100px;
  height:100px;
  cursor: pointer;
}

#topic_and_content_resize_img {
  pointer-events: none;
  position:absolute;
  bottom:20px;
  left:20px;
}

.topic-button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding:3px 5px 3px 5px;
  background:rgba(33,150,243,1.0);
  border-bottom: 1px solid white;
}

.topic-button:first-child {
  padding:5px 5px 5px 5px;
}

/*
.topic-button:nth-child(2) {
  border-bottom: 10px solid white;
}
*/

.topic-button:hover {
  background:rgba(33,150,243,0.7);
}

.selected {
  background:rgba(33,150,243,0.7);
}

.alarm {
  background:rgb(244,67,54) !important;
}


.fixed-action-btn {
    z-index: 995;
}

.zoom-buttons {
    top: 90px;
    left: 30px;
    width: 30px !important;
    height: 90px !important;
}

.btn {
    padding: 0 5px;
}

.btn-send {
    bottom: 40px;
    right: 20px;
}

.btn-clear{
    bottom: 40px;
    left: 20px;
    width: 56px !important;
}